/* Light Theme */
:root {
  --bg: #ffffff;
  --text: #111111;
  --nav-bg: #222;
  --nav-text: #fff;
  --card-bg: #f4f4f4;
}

/* Dark Theme */
[data-theme="dark"] {
  --bg: #111;
  --text: #e9e9e9;
  --nav-bg: #000;
  --nav-text: #fff;
  --card-bg: #1a1a1a;
}

/* Apply variables globally */
body {
  background: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
  font-family: Arial;
}

/* Remove link styles */
a {
  color: var(--nav-text);
  margin-left: 15px;
  text-decoration: none;
}
